<div class="box p-4">
	
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2 feld"><p class="p-0 "><b>Vienna</b><br><br> (/viˈɛnə/ (About this soundlisten);[10][11] German: Wien [viːn] (About this soundlisten)) is the national capital, largest city, and one of nine states of Austria. Vienna is Austria's primate city, with a population of about 1.9 million[2] (2.6 million within the metropolitan area,[5] nearly one third of the country's population), and its cultural, economic, and political centre. It is the 7th-largest city by population within city limits in the European Union.
<br><br>
Until the beginning of the 20th century, it was the largest German-speaking city in the world, and before the splitting of the Austro-Hungarian Empire in World War I, the city had 2 million inhabitants.[12] Today it is the second largest German-speaking city after Berlin and just before Hamburg.[13][14] Vienna is host to many major international organizations, including the United Nations, OPEC, and the OSCE. The city is located in the eastern part of Austria and is close to the borders of Czechia, Slovakia, and Hungary. These regions work together in a European Centrope border region. Along with nearby Bratislava, Vienna forms a metropolitan region with 3 million inhabitants.[citation needed] In 2001, the city centre was designated a UNESCO World Heritage Site. In July 2017 it was moved to the list of World Heritage in Danger.[15]
</p></div>
		<div class="col-lg-3 col-0 offset-1 mb-4 mt-2 feld2"></div>
	</div>

</div>