<div class="box p-4">
	
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2 feld"><p class="p-0 "><b>Lucerne</b><br><br> (/luːˈsɜːrn/ loo-SURN, French: [lysɛʁn]; German: Luzern [luˈtsɛrn] (About this soundlisten); Lucerne German: Lozärn; Italian: Lucerna [luˈtʃɛrna]; Romansh: Lucerna [luˈtsɛrnɐ] (About this soundlisten)) is a city in central Switzerland, in the German-speaking portion of the country. Lucerne is the capital of the canton of Lucerne and part of the district of the same name. With a population of about 81,057 people (as of 2013),[3] Lucerne is the most populous town in Central Switzerland, and a nexus of economics, transportation, culture, and media of this region. The city's urban area consists of 17 municipalities and towns located in three different cantons with an overall population of about 250,000 people (as of 2007).[4]
<br><br>
Owing to its location on the shores of Lake Lucerne (German: Vierwaldstättersee) and its outflow, the river Reuss, within sight of the mounts Pilatus and Rigi in the Swiss Alps, Lucerne has long been a destination for tourists. One of the city's famous landmarks is the Chapel Bridge (German: Kapellbrücke), a wooden bridge first erected in the 14th century.

The official language of Lucerne is (the Swiss variety of Standard) German, but the main spoken language is the local variant of the Alemannic Swiss German dialect.</p></div>
		<div class="col-lg-3 col-0 offset-1 mb-4 mt-2 feld2"></div>
	</div>

</div>