<div class="box p-4">
	
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2 feld"><p class="p-0 "><b>Munich</b><br><br> (/ˈmjuːnɪk/ MEW-nik; German: München [ˈmʏnçn̩] (About this soundlisten);[3] Austro-Bavarian: Minga [ˈmɪŋ(ː)ɐ]; Latin: Monachium) is the capital and most populous city of Bavaria, the second most populous German federal state. With a population of around 1.5 million,[4] it is the third-largest city in Germany, after Berlin and Hamburg, and thus the largest which does not constitute its own state, as well as the 12th-largest city in the European Union. The city's metropolitan region is home to 6 million people.[5] Straddling the banks of the River Isar (a tributary of the Danube) north of the Bavarian Alps, it is the seat of the Bavarian administrative region of Upper Bavaria, while being the most densely populated municipality in Germany (4,500 people per km²). Munich is the second-largest city in the Bavarian dialect area, after the Austrian capital of Vienna.
</p></div>
		<div class="col-lg-3 col-0 offset-1 mb-4 mt-2 feld2"></div>
	</div>

</div>