<div class="row">
	<div class="lucern blog col-lg-4 col-sm-12  bg-transperent mb-4">
		<a routerLink="/lucern"><h1 class="text-white ">Lucern</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
	<div class="munich blog col-lg-7 col-sm-12 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/munich"><h1 class="text-white ">Munich</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
	<div class="vienna blog col-lg-6 col-sm-12  bg-transperent mb-4">
		<a routerLink="/vienna"><h1 class="text-white ">Vienna</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
<div class="kenia blog col-lg-5 col-sm-12 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/kenia"><h1 class="text-white ">Kenia</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
		<div class="zurich blog col-lg-8 col-sm-12  bg-transperent mb-4">
		<a routerLink="/zurich"><h1 class="text-white ">Zurich</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
<div class="bangkok blog col-lg-3 col-sm-12 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/bangkok"><h1 class="text-white ">bangkok</h1></a>
	</div>
<div class="welle blog col-lg-12 col-sm-12 col-md-12 bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Don´t forget</h1></a><p class="text-white ml-3"> - to enjoy your time</p>
	</div>

</div>