<div class="row">
	<div class="lucern blog col-4  bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Lucern</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
	<div class="munich blog col-7 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Munich</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
	<div class="vienna blog col-6  bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Vienna</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
<div class="kenia blog col-5 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Kenia</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
		<div class="zurich blog col-8  bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Zurich</h1></a><p class="text-white ml-3"> - allways worth to visit</p>
	</div>
<div class="bangkok blog col-3 offset-lg-1 bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">bangkok</h1></a>
	</div>
<div class="welle blog col-lg-12 col-md-11 bg-transperent mb-4">
		<a routerLink="/"><h1 class="text-white ">Don´t forget</h1></a><p class="text-white ml-3"> - to enjoy your time</p>
	</div>

</div>