<div class="box p-4">
	
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2 feld"><p class="p-0 "><b>Zürich or Zurich</b><br><br> (/ˈzjʊərɪk/ ZEWR-ik; see below for other names) is the largest city in Switzerland and the capital of the canton of Zürich. It is located in north-central Switzerland[4] at the northwestern tip of Lake Zürich. The municipality has approximately 409,000 inhabitants, the urban agglomeration 1.315 million[5] and the Zürich metropolitan area 1.83 million.[6] Zürich is a hub for railways, roads, and air traffic. Both Zurich Airport and railway station are the largest and busiest in the country.
<br><br>
Permanently settled for over 2,000 years, Zürich was founded by the Romans, who, in 15 BC, called it Turicum. However, early settlements have been found dating back more than 6,400 years ago.[7] During the Middle Ages, Zürich gained the independent and privileged status of imperial immediacy and, in 1519, became a primary centre of the Protestant Reformation in Europe under the leadership of Huldrych Zwingli.[8]
</p></div>
		<div class="col-lg-3 col-0 offset-1 mb-4 mt-2 feld2"></div>
	</div>

</div>