<div class="box p-4">
	
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2 feld"><p class="p-0 "><b>Bangkok[a]</b><br><br> is the capital and most populous city of Thailand. It is known in Thai as Krung Thep Maha Nakhon[b] or simply Krung Thep.[c] The city occupies 1,568.7 square kilometres (605.7 sq mi) in the Chao Phraya River delta in central Thailand, and has a population of over eight million, or 12.6 percent of the country's population. Over fourteen million people (22.2 percent) lived within the surrounding Bangkok Metropolitan Region at the 2010 census, making Bangkok the nation's primate city, significantly dwarfing Thailand's other urban centres in importance.

Bangkok traces its roots to a small trading post during the Ayutthaya Kingdom in the 15th century, which eventually grew and became the site of two capital cities: Thonburi in 1768 and Rattanakosin in 1782. Bangkok was at the heart of the modernization of Siam, later renamed Thailand, during the late-19th century, as the country faced pressures from the West.</p></div>
		<div class="col-lg-3 col-0 offset-1 mb-4 mt-2 feld2"></div>
	</div>

</div>